h1{
    text-align: center;
    border-style: solid;
}

.buttons{
    text-align: center;
    margin: 50px;
    
}
.buttons>button{
    text-align: center;
    margin: 50px;
   
}
.container{
    text-align: center;
    border-style: solid;
}
@media only screen and (max-width: 1000px) {
    table{
	    display: block;
	    overflow-x: auto;
	    white-space: nowrap;
	    font-size: 10px;
	    content: 10px;
    }
    
   
}


