<!DOCTYPE html>

<html>

<head>
<title>TODO supply a title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
	<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<script src="js/register.js" type="text/javascript"></script>
<link href="css/register.css" rel="stylesheet" type="text/css" />



</head>

<body>

	<!-- Register Form -->
	<div class="card bg-light">
		<form action="vLogin.html" class="card-body mx-auto" style="max-width: 400px;" >
			<h4 class="card-title mt-3 text-center">Create Account</h4>
			<p class="text-center">Get started with your free account</p>
				<!-- Nombre -->
				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-user"></i>
						</span>
					</div>
					<input id="nombre" class="form-control" placeholder="Nombre"
						type="text" required>
				</div>
				<!-- Contraseña -->
				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-lock"></i>
						</span>
					</div>
					<input id="contrasenia" class="form-control" placeholder="Contraseña"
						type="password" required>
				</div>
				<!-- Repetir contraseña -->
				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-lock"></i>
						</span>
					</div>
					<input id="confirm_password" class="form-control"
						placeholder="Repite contraseña" type="password" required>
				</div>
			
				<!-- Apodo -->

				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fas fa-tag"></i>
						</span>
					</div>

					<input id="apodo" class="form-control" placeholder="Apodo" type="text"
						required>
				</div>
				<!-- Residencia -->
				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="far fa-building"></i>
						</span>
					</div>

					<input id="residencia" class="form-control" placeholder="Residencia"
						type="text" required>
				</div>
				<!-- Email -->
				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-envelope"></i>
						</span>
					</div>
					<input id="email" class="form-control" placeholder="Email"
						type="email" required>
				</div>
				<!-- Boton -->

				<button id="btnInsert" type="button" class="btn btn-primary btn-block">Create Account</button>
				<p class="text-center">
					Have an account? <a href="vLogin.html">Log In</a>
				</p>
			</form>
	</div>
	<!-- card.// -->



</body>

</html>