<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <script src="jquery-3.4.1.min.js"></script>-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="css/reserva.css" rel="stylesheet" type="text/css" />
  <script src="js/reserva.js"></script>
  <link rel="shortcut icon" href="img/dino.png" />
  <title>Reservas</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
      <img class="logo" src="img/empresauiros_logo.png" />
      <img class="titulo_web" src="img/title.png" />
      <!-- <div class="titulo_web">EMPRESAURIOS GAMING</div>  -->
  </nav>

  <div class="container">
    <nav>
      <div class="nav" id="nav-tab" role="tablist">
        <h5>ELIGE FECHA DE RESERVA</h5>
      <div class="date">
        <input type="date" id="date" name="dateofbirth" id="dateofbirth">
        <button id="dateButton" type="button" class="btn btn-danger ml-2">Buscar</button>
      </div>
        <div class="btn-group dropdown">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Ordenadores Seleccionados<span class="caret"></span></button>
            <ul class="dropdown-menu scrollable-menu" role="menu">

          
            </ul>
          </div>
    </div>
      
    </nav>
      <div class="tab-pane fade show active" id="nav-info" aria-labelledby="nav-home-tab">

      </div>
      <div class="bottom">
        <button type="button" id="reservar" class="btn btn-danger">Reservar</button>
      </div>
  </div>

  

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>

</html>